# MySQL local / Docker
# Formato: mysql://USUARIO:SENHA@HOST:PORTA/BANCO
DATABASE_URL="mysql://root:SUA_SENHA@localhost:3306/agendaai"

NEXT_PUBLIC_APP_URL="http://localhost:3000"
AUTH_SECRET="troque-por-uma-chave-longa-e-aleatoria"
